.one-col .item{
              width: 100% ;
              } 

.demo-page .item .c3{
                    padding:0px;
                    -webkit-transition:all 0.1s ease-in;
                    -moz-transition:all 0.1s ease-in;
                    -o-transition:all 0.1s ease-in;
                    -ms-transition:all 0.1s ease-in;
                    transition:all 0.1s ease-in;
                    }

.demo-page .item .c4{
                    padding:0px;
                    -webkit-transition:all 0.1s ease-in;
                    -moz-transition:all 0.1s ease-in;
                    -o-transition:all 0.1s ease-in;
                    -ms-transition:all 0.1s ease-in;
                    transition:all 0.1s ease-in;
                    }
    
.demo-page .item .c6{
                    padding:0px;
                    -webkit-transition:all 0.1s ease-in;
                    -moz-transition:all 0.1s ease-in;
                    -o-transition:all 0.1s ease-in;
                    -ms-transition:all 0.1s ease-in;
                    transition:all 0.1s ease-in;
                    }


@media only screen and (max-width: 768px) {
  
.demo-page .item .c3{
                      width: 50%;
                      padding-bottom: 0px;
                      margin-bottom: 0px;
                      }

.demo-page .item .c4{
                    width: 50%;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    }
    
.demo-page .item .c6{
                    width: 50%;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    }


}


@media only screen and (max-width: 480px){

.demo-page .item .c3{
                      width: 100%;
                      padding-bottom: 0px;
                      margin-bottom: 0px;
                      }

.demo-page .item .c4{
                    width: 100%;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    }
    
.demo-page .item .c6{
                    width: 100%;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    }


}