
/* ==========================================================================
   General
   ========================================================================== */

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 400; }

a { color: #ff0241; }

a:hover {
  color: #ff005e;
  text-decoration: none;
}

a:focus { outline: none; }

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* ==========================================================================
   custom
   ========================================================================== */

.cta-right {
  display: block;
  z-index: 100;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20%;
  padding-top: 15%;
  background-image: url("../img/ticket.png");
  background-size: 100%;
  background-position: top center;
  font-family: 'Mukta Vaani', sans-serif;

}

#mainpic {
  width: 50%;
  padding-top: 30%;
}

.cta-right h1 {
  font-size: 10%;
}

#c1 {
  background-color: #00eaa1;

  font-size: small;
}
#c1:hover {
  background-color: #008260;
}
#aa1 {
  margin-top: 30%;
}
#aa {
  color: #00eaa1;
  margin-top: -30%;
}



#c2 {
  background-color: #6a21ff;

  font-size: small;
 }
#c2:hover {
  background-color: #150631;
}
#qq {
  color: #6a21ff;
  margin-top: -30%;
}
#qq1 {
  margin-top: 30%;
}

#c3 {
  background-color: #ff005e;

  font-size: small;
}

#c3:hover {
  background-color: #8d0034;
}
#zz {
  color: #ff005e;
  margin-top: -30%;
}
#zz1 {
  margin-top: 30%;
}

#c4 {
  background-color: #00a8ff;

  font-size: small;
}
#c4:hover {
  background-color: #00486e;
}
#dd {
  color: #00a8ff;
  margin-top: -30%;
}
#dd1 {
  margin-top: 30%;
}

#c5 {
  background-color: #0042ee;

  font-size: small;
}
#c5:hover {
  background-color: #00113e;

}
#gg {
  color:  #0042ee;
  margin-top: -30%;
}
#gg1 {
  margin-top: 30%;
}

#c6 {
  background-color: #ffffff;

  font-size: small;
}
#ff {
  color: #000000;
  margin-top: -30%;
}
#ff1 {
  margin-top: 30%;
  color: #000000;
}


.ss p {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 150%;
  font-family: 'Mukta Vaani', sans-serif;
  margin-bottom: 30%;
  color: #ffffff;
}


mark {
  font-size: 120%;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
}

.cta-right h2 {
  font-size: 10%;
}

.cta-right p {
  font-size: 10%;
}

.cta-right1 {
  background: url("../img/Sorting%20Arrows%20Filled-100.png") no-repeat center top;
  background-size: 7%;
  padding: 5%;
}


.cta-right1 p {
  font-family: 'Mukta Vaani', sans-serif;

}

.ruby {
  width: 95%;
  background-size: 10%;
}

.cta-right1 { margin-top: 1.5em; }

.cta-right1 input {
  display: block;
  margin-bottom: 0.75em;
  border: 1px solid #cccccc;
  color: #444;
}

.cta-right1 input,
.cta-right1 #btnn1 {
  width: 100%;
  padding: 0.75em;
  border-radius: 4px;
  font-family: 'Mukta Vaani', sans-serif;
}

#btnn1 {
  background: #ff0241;
  border: 1px solid #ff0241;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  font-family: 'Mukta Vaani', sans-serif;
}

label {
  font-weight: 700;
  font-size: 120%;
}

#btnn1:hover,
#btnn1:focus {
  color: #fff;
  background: #ff0241;
  border-color: #ff0241;
  font-family: 'Mukta Vaani', sans-serif;
}

.cta-right1 input:focus,
.cta-right1 .button:focus { outline: none; }

/* ==========================================================================
   hero unit
   ========================================================================== */

.hero-unit {
  background: url(../img/bg.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 3em 0;
  position: relative;
  color: #fff;
}


.overlay {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, rgba(25, 4, 43, 0.9), rgba(255, 43, 75, 0.01));
  top: 0;
}

.overlay1 {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  top: 0;
}

.overlay2 {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to right, rgba(225, 255, 2, 0.8), rgba(225, 255, 2, 0.5));
  top: 0;
}

.logo,
.social { text-align: center; }

.social { margin-top: 1.5em; }

.social li {
  display: inline-block;
  padding-right: .5em;
}

.social li:last-child { padding-right: 0; }

.social li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #ff0241;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

.social li a:hover { background: #ff0241; }

h2 { font-weight: 600; }

.logo img {
  width: 15%;

}

/* ==========================================================================
   cta
   ========================================================================== */
.cta h1{
  font-weight: 800;
  font-size: 350%;
  font-family: 'Mukta Vaani', sans-serif;
}

.cta h2 {
  margin-bottom: 10%;
  font-size: 150%;
}

.cta { margin-top: 3em; }

.highlight { font-weight: 700; }

.welcome-message h1 {

  font-weight: 300;
  font-family: 'Mukta Vaani', sans-serif;
  color: #ff0241;
}

.welcome-message h2 {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Mukta Vaani', sans-serif;
  color: #220044;
}

.cta p {
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 200;
  font-size: 150%;
  color: #ffffff;
  margin-bottom: 20%;
}

#stand {
 padding: 0%;
}

/* ==========================================================================
    sub form
   ========================================================================== */



.cta-right input {
  display: block;
  margin-bottom: 0.75em;
  border: 1px solid #cccccc;
  color: #444;
}

.cta-right h3 {
  color: #ffffff;
}

.cta-right input{
  width: 100%;
  padding: 0.5em;
  border-radius: 4px;
  font-family: 'Mukta Vaani', sans-serif;

}
.cta-right #btnn {
  width: 100%;
  padding: 0.75em;
  border-radius: 4px;
  font-family: 'Mukta Vaani', sans-serif;
}

#btnn {
  background: #ff0241;
  border: 1px solid #ff0241;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  font-family: 'Mukta Vaani', sans-serif;
}

#btnn:hover,
#btnn:focus {
  color: #fff;
  background: #ff0241;
  border-color: #ff0241;
  font-family: 'Mukta Vaani', sans-serif;
}

.cta-right input:focus,
.cta-right .button:focus { outline: none; }

.cta-right h4 {
  color: #ffffff;
}

.terms {
  text-align: left;
  font-style: italic;
  padding-top: .75em;
  font-weight: 300;
}

.alert i,
.success i { padding-right: .5em; }

#mc-notification { margin-bottom: 0; }

.alert { color: #FF5252; }

.success { color: #00DD5D; }

#mc-form .error-input {
  -webkit-box-shadow: 0 0 0 2px #FF5252;
  box-shadow: 0 0 0 2px #FF5252;
}

#mc-form .success-input {
  -webkit-box-shadow: 0 0 0 2px #669900;
  box-shadow: 0 0 0 2px #669900;
}

/* ==========================================================================
   cta video
   ========================================================================== */
   
.cta-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.28);
  margin-bottom: 3em;
}

.cta-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ==========================================================================
   Countdown styles
   ========================================================================== */
   
.section-spacing { padding: 4.5em 0; }

.timer { background: #F8F8F8; }

.timer h2 {
  margin: 0;
  line-height: 1.2;
}

ul.countdown {
  font-weight: 300;
  list-style: none;
  display: block;
  margin-bottom: 0;
  padding: 1.5em 0 0;
  color: #444;
}

ul.countdown li { display: inline-block; }

ul.countdown li span { font-size: 36px; }

ul.countdown li.seperator {
  font-size: 30px;
  line-height: 50px;
  vertical-align: top;
  padding: 0 8px;
}

ul.countdown li p {
  font-size: 16px;
  margin-bottom: 0;
}

/* ==========================================================================
   Features
   ========================================================================== */

.features {
  padding: 4.5em 0 3em;
  background-color: #ffffff;
  text-align: center;
}

.features h2 {
  margin: 0 0 36px 0;
  font-weight: 800;
  font-size: 300%;
  font-family: 'Mukta Vaani', sans-serif;
  color: #000000;
}

.features h1 {
  margin: 0 0 36px 0;
  font-weight: 800;
  font-size: 380%;
  font-family: 'Mukta Vaani', sans-serif;
  color: #000000;
}

ol li {
  list-style-type: disc;
  color: #ff1654;
  font-weight: 700;
  font-size: 150%;
  font-family: 'Mukta Vaani', sans-serif;
}

.features p {
  color: #2b2b2b;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 110%;
  font-family: 'Mukta Vaani', sans-serif;
  overflow: auto;
}

.feature {
  margin-bottom: 3em;
}

.feature img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.feature1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.feature h1 {
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 800;
  font-size: 2000%;
}

#many {
  width: 25%;
  display: block;
  margin-bottom: 3%;
  margin-top: 3%;
}
#two223 {
  width: 20%;
  display: block;
  margin-bottom: 4%;
  margin-top: 5%;

}
#one {
  width: 25%;
  display: block;
  margin-bottom: 3%;
  margin-top: 3%;
}

.counter1 li {
  list-style-type: disc;
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 800;
  font-size: 300%;
  color: #4f0f87;
}


/* ==========================================================================
   counter
   ========================================================================== */
   
.counter {
  -webkit-background-size: cover;
  background-size: cover;
  color: #000000;
  position: relative;
  padding: 4.5em 0;
  hight: 500px;
}

.counter img {
  max-width: 100%;
  bottom: 0px;
  left: 4%;
}

.ruby h1 {
  font-weight: 800;
  font-size: 300%;
  font-family: 'Mukta Vaani', sans-serif;
  color: #000000;
}

.counter h2 {
  font-weight: 700;
  font-size: 200%;
  font-family: 'Bevan', cursive;
}

.counter h3 {
  font-weight: 800;
  font-size: 700%;
  font-family: 'Bevan', cursive;
}

.counter img {
  width: 90%;
}

.counter p {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 150%;
  font-family: 'Mukta Vaani', sans-serif;
  margin-bottom: 30%;
}

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 1.5em; }

/* ==========================================================================
   counter
   ========================================================================== */
.counter1 {
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 4.5em 0;
}

.counter1 strong {
  font-weight: 800;
  font-size: 120%;
  font-family: 'Mukta Vaani', sans-serif;
}
.counter1 h1 {
  font-weight: 800;
  font-size: 200%;
  font-family: 'Mukta Vaani', sans-serif;
  color: #4f0f87;
  text-shadow: 1px 1px 100px #ffffff;
}

.counter1 img {
  width: 50%;
}

.counter1 h2 {
  font-weight: 700;
  font-size: 200%;
  font-family: 'Mukta Vaani', sans-serif;
  text-shadow: 1px 1px 100px #8da301;
}

.counter1 h3 {
  font-weight: 800;
  font-size: 700%;
  font-family: 'Mukta Vaani', sans-serif;
}

.counter1 p {
  margin-bottom: 0;
  font-size: 150%;
  font-family: 'Mukta Vaani', sans-serif;

}

.counter1 div[class^="col-"]:nth-child(1),
.counter1 div[class^="col-"]:nth-child(2) { padding-bottom: 1.5em; }


/* ==========================================================================
   contact
   ========================================================================== */

.contact .form-control {
  border-color: #ddd;
  height: auto;
  padding: 0.75em 12px;
}

#contact {
  background-color: #330d52;
}

#contact h2, h3 {
  color: #ffffff;
}

.center-block { float: none; }

.form-group { margin-bottom: 1.5em; }

textarea[class="form-control"] { padding: 0.75em 12px; }

.contact h2 {
  margin: 0 0 48px;
  line-height: 0.5;
  font-weight: 800;
  font-size: 300%;
  font-family: 'Mukta Vaani', sans-serif;
}

.contact h3 {
  margin: 0 0 48px;
  font-weight: 700;
  font-size: 150%;
  font-family: 'Mukta Vaani', sans-serif;
  padding-bottom: 10%;
}

.contact span {
  font-size: 1500%;
  position: absolute;
  bottom: -60%;
  left:45%;
  color: #ff0241;
}

.contact .btn {
  padding: 12px 1em;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.success-sf,
.error-sf { display: none; }

.success-sf p { background: rgba(39, 174, 96, 0.7); }

.error-sf p { background: rgba(234, 80, 80, 0.83); }

.error i { padding-right: .5em; }

.contact-form .success-sf p,
.contact-form .error-sf p {
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: .75em;
}

.contact-form label.error,
.text-area label.error {
  color: #ea5050;
  display: inherit;
  margin-top: .8em;
}

/* ==========================================================================
   footer 
   ========================================================================== */
   
.site-footer {
  padding: 4.5em 0;
  background: #1c072d;
}

.social-footer {
  list-style: none;
  margin-bottom: 2.25em;
}

.social-footer li {
  display: inline-block;
  padding-right: .5em;
}

.social-footer li:last-child { padding-right: 0; }

.social-footer a {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  color: #ff0241;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  display: block;
  border-radius: 50%;
}

.social-footer a:hover {
  color: #fff;
  background: #ff0241;
}

.site-footer small {
  position: relative;
  padding-top: .75em;
  color: #fff;
}

.site-footer small:before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #ff0241;
}

/* ==========================================================================
   scroll top
   ========================================================================== */
   
.scroll-top { margin-bottom: 0; }

.scroll-top a {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: .8em 1em;
  display: none;
  z-index: 200;
  border-radius: 4px;
  -webkit-transition: background .5s ease-in;
  transition: background .5s ease-in;
}

.scroll-top a:hover { background: #ff0241; }

/* ==========================================================================
   Preloader styles
   ========================================================================== */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 9999;
  height: 100%;
  height: 100%;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/load.gif) no-repeat center center;
  margin: -170px 0 0 -100px;
}

/* ==========================================================================
   Small devices (tablets, 768px and down)
   ========================================================================== */
   
@media (max-width: 768px) {

.hero-unit { padding: 4.5em 0; }

.logo { text-align: justify; }

.cta { margin-top: 4.5em; }

.social { float: right; }

.social { margin-top: 0; }

.timer h2 { line-height: 1.1; }

ul.countdown li span { font-size: 60px; }

ul.countdown li.seperator {
  font-size: 48px;
  line-height: 85px;
  padding: 0 20.250px;
}

ul.countdown li p { font-size: 24px; }

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 0; }

.feature,.features {
  text-align: center;
}

.feature img {
  float: none;
  clear: none;
}


.counter1 {
  text-align: center;
}

.counter {
  text-align: center;
}

.hero-unit {
  text-align: center;
}

.hero-unit img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.hero-unit h1 {
  font-size: 200%;
}

.counter1 h2 {
  font-size: 200%;
}

.counter1 img {
  width: 130%;
  padding-top: 10%;
}

.ss {
  display: none;
}

.mobile5 {
  height: 100px;
  background: center center no-repeat;
  background: url("../img/mobile_5.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.features h1 {
  font-size: 230%;
}

  #angryd {
    position: absolute;
    z-index: -1;
  }
  #coveredd{
    position: absolute;
    z-index: -1;
  }

  #loggod {
    position: absolute;
    z-index: -1;
  }
  #angry {
    width: 20%;
  }

  #covered {
    width: 20%;
  }
  #loggodtop {
    position: absolute;
    z-index: -1;
  }
  .contact {
    position: absolute;
    z-index: -1;
  }

  .cta-right {
    position: absolute;
    z-index: -1;
    float: left;
  }
  .cta-right p {font-size: 1%}
  .cta-right h2 {font-size: 1%}
  .cta-right h1 {font-size: 1%}

  .contact p {font-size: 1%}
  .contact h2 {font-size: 1%}
  .contact h1 {font-size: 1%}
  .contact h3 {font-size: 1%}

  #many {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #one {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #two223 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #two2223 {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-unit {
    background: url(../img/bg-small.jpg) center center no-repeat;
    background-size: cover;
  }

  #logogogo {
    position: absolute;
    left: 45%;
    top: 90%;
    width: 15%;
    z-index: 100;
  }


 
  .overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to top, rgba(25, 4, 43, 0.8), rgba(0, 0, 0, 0.01));
    top: 0;
  }


  .overlay1 {

    background: url("../img/mobile_snaps.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 800px;
  }


  .mobile-phone {
    background: url("../img/mobi.png") bottom center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 1000px;
    background-size: 100%;
    background-color: #f1f2f5;
  }

  .ruby {
    width: 95%;
    background-size: 10%;
  }

  .counter h1 {
    font-size: 300%;
    color: #000000;
  }
  .counter p {
    font-size: 150%;
    margin-bottom: 1%;
    font-weight: 300;
  }

  .counter h2 {text-shadow: 0px 0px 8px #000000;}

  .counter img {
    position: absolute;
    z-index: -1;
  }
  .cta p {
    font-size: 150%;
    font-weight: 200;
    margin-bottom: 0%;
    font-family: 'Mukta Vaani', sans-serif;
  }
  .cta h1 {
    margin-top: 30%;
    font-family: 'Mukta Vaani', sans-serif;
  }

  .ruby h1 {
    font-weight: 800;
    font-size: 200%;
    font-family: 'Mukta Vaani', sans-serif;
    color: #000000;
  }
  .ss div[class^="col-"]:nth-child(1),
  .ss div[class^="col-"]:nth-child(2) { padding-bottom: 0; }
}
/* ==========================================================================
   Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {

.mobile5 {
  display: none;
}

.cta { margin-top: 6em; }

.cta-video {
  margin-bottom: 0;
  margin-right: 1em;
}
.mobile-text {
  display: none;
}
.mobile-phone {
  display: none;
}

.features { padding: 6em 0; }

.section-spacing { padding: 6em 0; }

.feature { margin-bottom: 0; }

.site-footer li { margin-bottom: 0; }

  .hero-unit img {
    float: left;
  }

  #angry {
    position: absolute;
    z-index: -1;
  }

  #covered {
    position: absolute;
    z-index: -1;
  }

  #loggo {
    position: absolute;
    z-index: -1;
  }

  #angryd {
    margin-top: 55%;
    width: 70%;
  }
  #coveredd{
    margin-top: 65%;
    width: 70%;
  }

  #loggod {
    margin-top: 35%;
    width: 70%;
  }

  #loggodtop {
    position: absolute;
    top:6%;
    left: 3%;
    width: 8%;
  }

  .cta-right1 {
    position: absolute;
    z-index: -1;
  }



  .contact {
    background-color: #ffffff;
  }

}

/* ==========================================================================
   small devices 
   ========================================================================== */
   


@media (max-width: 320px) {

  .hero-unit { padding: 4.5em 0; }

  .logo { text-align: justify; }

  .cta { margin-top: 4.5em; }

  .social { float: right; }

  .social { margin-top: 0; }

  .timer h2 { line-height: 1.1; }

  ul.countdown li span { font-size: 60px; }

  ul.countdown li.seperator {
    font-size: 48px;
    line-height: 85px;
    padding: 0 20.250px;
  }

  ul.countdown li p { font-size: 24px; }

  .counter div[class^="col-"]:nth-child(1),
  .counter div[class^="col-"]:nth-child(2) { padding-bottom: 0; }

  .feature,.features {
    text-align: center;
  }

  .feature img {
    float: none;
    clear: none;
  }


  .counter1 {
    text-align: center;
  }

  .counter {
    text-align: center;
  }

  .hero-unit {
    text-align: center;
  }

  .hero-unit img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .hero-unit h1 {
    font-size: 200%;
  }

  .counter1 h2 {
    font-size: 200%;
  }

  .counter1 img {
    width: 130%;
    padding-top: 10%;
  }

  .ss {
    display: none;
  }

  .mobile5 {
    height: 100px;
    background: center center no-repeat;
    background: url("../img/mobile_5.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .features h1 {
    font-size: 230%;
  }

  #angryd {
    position: absolute;
    z-index: -1;
  }
  #coveredd{
    position: absolute;
    z-index: -1;
  }

  #loggod {
    position: absolute;
    z-index: -1;
  }
  #angry {
    width: 20%;
  }

  #covered {
    width: 20%;
  }
  #loggodtop {
    position: absolute;
    z-index: -1;
  }
  .contact {
    position: absolute;
    z-index: -1;
  }

  .cta-right {
    position: absolute;
    z-index: -1;
    float: left;
  }
  .cta-right p {font-size: 1%}
  .cta-right h2 {font-size: 1%}
  .cta-right h1 {font-size: 1%}

  .contact p {font-size: 1%}
  .contact h2 {font-size: 1%}
  .contact h1 {font-size: 1%}
  .contact h3 {font-size: 1%}

  #many {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #one {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #two223 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #two2223 {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-unit {
    background: url(../img/bg-small.jpg) center center no-repeat;
    background-size: cover;
  }

  #logogogo {
    position: absolute;
    left: 45%;
    top: 90%;
    width: 15%;
    z-index: 100;
  }



  .overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to top, rgba(25, 4, 43, 0.8), rgba(0, 0, 0, 0.01));
    top: 0;
  }


  .overlay1 {

    background: url("../img/mobile_snaps.png") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 800px;
  }


  .mobile-phone {
    background: url("../img/mobi.png") bottom center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 1000px;
    background-size: 100%;
    background-color: #f1f2f5;
  }

  .ruby {
    width: 95%;
    background-size: 10%;
  }

  .counter h1 {
    font-size: 300%;
    color: #000000;
  }
  .counter p {
    font-size: 150%;
    margin-bottom: 1%;
    font-weight: 300;
  }

  .counter h2 {text-shadow: 0px 0px 8px #000000;}

  .counter img {
    position: absolute;
    z-index: -1;
  }
  .cta p {
    font-size: 150%;
    font-weight: 200;
    margin-bottom: 0%;
    font-family: 'Mukta Vaani', sans-serif;
  }
  .cta h1 {
    margin-top: 30%;
    font-family: 'Mukta Vaani', sans-serif;
  }

  .ruby h1 {
    font-weight: 800;
    font-size: 200%;
    font-family: 'Mukta Vaani', sans-serif;
    color: #000000;
  }
  .ss div[class^="col-"]:nth-child(1),
  .ss div[class^="col-"]:nth-child(2) { padding-bottom: 0; }
}

}
